.shady {
	box-shadow: 0px 0px 1px #cccccc
}
html{
	
}
*{
	scrollbar-face-color:       #f9f9f9;  
    scrollbar-shadow-color:     #f4f4f4;  
    scrollbar-highlight-color:  #fcfcfc;  
    scrollbar-3dlight-color:    #ffffff;  
    scrollbar-darkshadow-color: #f2f2f2;  
    scrollbar-track-color:      #ffffff;  
    scrollbar-arrow-color:      #ffffff; 
}
body {
	margin:0px auto;
	font-family: 'Abel', sans-serif;
	background: #f5f5f5;
	}
#hed {
	height: 70px;
	margin:0 auto 45px;
	background:#d9dbdb;
	padding:0px 10px 10px 7px;
	min-width: 1300px;
	border-bottom: 1px solid #d1d1d1
}
#logo{
	width:230px;
	float: left;
	padding:15px 0px 0px 13px;

}
#logo p{
	color: #002663;
	margin:20px;
	position: relative;
	left:13px;
	font-size: 23px;
	font-weight:200;
	top:6px;
}
#nav{
	min-width:1150px; 
	float: left;
	left: 170px;
	position: absolute;
}
#menu li{
	width:120px;
	list-style-type: none;
	display: block;
	float:left;
	height: 70px;
	padding:10px 12px 0px ;
	font-weight: 100

}
#menu li:hover {
	background: #f2af00;
	color:white;
}
#menu {
	
}
#menu a{
	text-decoration: none;
	color:#002663;
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
}
#section{
	clear: both;
	height: 480px;
	margin: 0px auto;
	width: 1350px;
	border: 1px solid #efefef;
	background: white
}
#section img {
	position: relative;
	top:3.5%;
}
#hldr {
	width:1200px;
	height: 50px;
	margin: 20px auto 80px;
	padding:15px;
	position: relative;
	left: -30px;
	top: 20px
}
#hldr li {
	text-decoration: none;
	list-style-type: none;
	float: left;
	margin: 5px;
	position: relative;
	left: 20px;
} 
#botbut {
	width: 285px;
	height: 96px;
	float: left;
	margin: 5px;
	padding: 5px;
	background: none;
}
#botbut li {
	text-align: center;
	list-style-type: none;
	margin: 20px
}
#ftr {
	background: #002663;
	height:40px;
	margin:93px 0px 0px 0px;
}
#motto {
	color: white;
	font-size: 17px;
	text-align: center;
	margin: 10px 0px 0px 0px;
}

#mask {  position:absolute;  left:0;  top:0;  z-index:9000;display:none;background:#262626
}  
#boxes .window {  position:absolute;  left:0;  top:0;  width:1350px;  height:480px;  display:none;  z-index:9999;  padding:20px;}
#boxes #dialog {  width:850px;   height:203px;  padding:10px;}
#dialog p {
	font-family: 'Raleway', Helvetica, Arial, sans-serif; color:#999; font-size:44px; font-weight: lighter; letter-spacing: -2px; border-bottom:1px solid #872175; width:360px; height:230px; position: relative; top: 85px; padding:2px; left:30px;
}
#dialog p:hover {
	border-bottom: 1px solid #9D3394; color:#BCBCBC;
}
#dialog span{
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif; font-size: 17px; color:#969696; letter-spacing: 1px; position: relative; left:60px; top:5px;
}
#dialog span:hover {
	color:#00AACD;
}

#dialog img{
	position: relative; top:-150px; width: 1350px; height:480px; left: -250px
}

#dialog a {
	position:relative; text-decoration: none; color:#bfbfbf; top:-265px; left:22px; font-family: 'Goudy Bookletter 1911', Georgia, Times, serif; font-size: 14px 
}
#dialog a:hover {
 color:#a8a8a8;
}
#countr {
	color:pink; font-family: font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}
