// colors

$color-1: #33414a; // Limed Spruce
$color-2: #7e4d7e; // Strikemaster
$color-3: #ffffff; // White
$color-4: #0a0b15; // Vulcan
$color-5: #6156a8; // Scampi
$color-6: #06b4c3; // Cerulean
$color-7: #f3ba00; // Selective Yellow
$color-8: #ffffff; // White


// fonts 

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Vollkorn', serif;