
*{
	scrollbar-face-color:       #ffffff;  
    scrollbar-shadow-color:     #f4f4f4;  
    scrollbar-highlight-color:  #fcfcfc;  
    scrollbar-3dlight-color:    #ffffff;  
    scrollbar-darkshadow-color: #f2f2f2;  
    scrollbar-track-color:      #ffffff;  
    scrollbar-arrow-color:      #ffffff; 
}

body {
	margin:0px auto;
	font-family:century gothic;
	color:black;


	text-decoration: underline;
		background: rgb(252,252,252); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url("");
background: -moz-linear-gradient(top,  rgb(252,252,252) 0%, rgb(204,204,204) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(252,252,252)), color-stop(100%,rgb(204,204,204))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(252,252,252) 0%,rgb(204,204,204) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(252,252,252) 0%,rgb(204,204,204) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(252,252,252) 0%,rgb(204,204,204) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(252,252,252) 0%,rgb(204,204,204) 100%); /* W3C */
background-color: transparent;



	}

#hed {
	height: 65px;
	background:#ffffff;
	padding-left: 270px;
	float:left;
	color:black;
	font-family:century gothic;
	min-width: 1300px;
	border-bottom: 10px solid #04245a;
	margin-bottom: 30px;
}
}



#inner {
  width:100%;
    height:100%;
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;
}

#logo{
	width:230px;
	float: left;
	padding:15px 0px 0px 13px;
}



#logo p{
	color: #FFFFFF;
	margin:20px;
	position: relative;
	left:13px;
	font-size: 23px;
	font-weight:200;
	top:6px;
}


#nav{
	min-width:1500px; 
	float: right;
	left:170px;
	position: absolute;
 padding-bottom: 25px;
}




#menu li{
	width:120px;
	list-style-type: none;
	display: block;
	float:left;
	height: 70px;
	padding:10px 12px 0px ;
	font-weight: 100;
}


#menu li:hover {
	
	color:black;
	text-transform: uppercase;
	cursor:hand;
	text-decoration: bold;


}


#menu {
	
}


#menu a{   /*menu de arriba, contenido de adentro*/
	text-decoration: none;
	color:#000000;
	font-size: 15px;
	text-decoration: none;
	border-bottom: 10px solid #000000;


}


#section{
	clear: both;
	height: 580px;
	padding: 0px 0px 0px 50px;
	margin-top: -20px;
	margin-left: 100px;
	margin-bottom: -65px;
	width: 1350px;
}


#lt {
	width: 29%;
	background:whitef;
	height:300px; 
	float: left;
	margin: 2%
}


#ct {
	width: 29%;
	background:white;
	height:300px;
	float: left;
	margin: 2%
}


#rt {
	width: 29%;
	background:white;
	height:300px;
	float: left;
	margin: 2%
}


#ll{
	width:55%;
	height: 300px;
	float: left;
	margin: 1% 1% 1% 2%;
	background:white;
}


#sc{
	width:18%;
	height: 300px;
	float: left;
	margin: 1%;
	background:white;
}


#sr{
	width:18%;
	height: 300px;
	float: left;
	margin: 1%;
	background:white;
}


#sl{

	margin-top:50px;
	text-align: center;
	width:200px;
	height: 500px;
	margin-right:30px;
	float:left;
	background: #04245a;
	color:black;
	font-family: Century Gothic;
	border:solid 1px #ffffff;
	color:white;
}


#lc {
	width:580px;
	height: 480px;
	float: left;
	margin: 1%;
}
#lc img {
	position: relative;
	top:3.5%;
}

#ldrs {
	position: relative;
	height: 100%;
	width: 100%
}


#ldrs li {
	list-style-type: none;
	height: 24px;
	position: relative;
	left: -40px;
	padding-right:5px; 
	font-size: 16px;
	font-family: verdana;
	color:white;
	font-family: Century Gothic;
	padding-left: 15px;

}
#ldrs li:hover {
		color:white;
	text-transform: uppercase;
	cursor:hand;
	font-size: 20px;
	

}


#ldrs a{
font-size: 20px;
	font-family: verdana;
	color:white;
	font-family: Century Gothic;
	
}

#ldrs li a {
		font-size: 16px;
	font-family: verdana;
	color:white;
	text-decoration: none;
	font-family: Century Gothic;

}

#ldrs a:hover {
	color:white;
	text-transform: uppercase;
	cursor:hand;
	font-size: 20px;

	

}


#ldrs a{

color:black;

}

#strup
{	width:200px;
margin-top:50px;
	margin-left: 50px;
	text-align: center;
	height: 500px;
	float: right;
	font-family: Century Gothic;
	color:#666;
	font-size:8px;
	background: #04245a;
	border:solid 1px #ffffff;
	color:white;



}


#botbut {
	width: 180px;
	height: 70px;
	float: left;
	margin: 25px 5px -15px 27px;
	padding: 5px;
	background: #FF55FF;
}
#botbut:hover {
	background: #FFFFFF
}

#botbut a {
	text-decoration: none;
	font-size: 20px;
	color: green;
	position: relative;
	top:20px;
}

#botbut li {
	text-align: center;
	list-style-type: none
}

#str img {
	width:100%;
}

#ftr {
	background: white;
	height:80px;
	font-family:Tahoma;
	color:black;
	 margin: 0 auto;
	 padding-top: 20px;
padding-left: 1200px;
	border-top: 10px solid #04245a; 
}

#motto {
	color: white;
	font-size: 50px;
	text-align: center;
	 margin: 0 auto;
	 left:200px;

}




  #botmenuu{
    height:120px;
    font-size: 12px;
     font-family: Century gothic; 
     margin:15px auto;position:relative; 
padding-left: 123px;
    top:2px;width:1550px;min-width: 850px; margin-bottom:-20px; left:0px;
  }


    #botmenuu li {
    display:block; font-size: 12px; float:left; background:#00162d; position:relative; width:254px; height:35px; padding: 10px; border-bottom:2px solid #00162d;  text-shadow:1px 1px 1px #333;
  }

  #botmenuu li:hover {
  
font-weight: bold;
 
     text-transform:uppercase;
  }
  
  #botmenuu a{
    text-decoration: none; color:white; font-size: 13px
  }

  #botmenuu li img{
    text-decoration: none; border-style:none; position:relative; left:8px; top:-5px;
  }
  #bxx {

  }


  #botmenu{
    height:70px;
    font-size: 12px;
     font-family: Century gothic; 
     margin:15px auto;position:relative; 
padding-left: 123px;
    margin-bottom: 30px;
    top:2px;width:1550px;min-width: 850px;  left:0px;
  }


    #botmenu li {
    display:block; 
    float:left; 
    background:#003972; 
    position:relative; 
    width:527px; 
    height:35px; 
     font-size: 12px;
    padding:12px; 
    border-bottom:2px  solid #003972;  
    text-shadow:1px 1px 1px #333;
    margin-bottom: 300px;
  }

  #botmenu li:hover {
  
font-weight: bold;
 
     text-transform:uppercase;
  }
  
  #botmenu a{
    text-decoration: none; color:white; font-size: 13px
  }

  #botmenu li img{
    text-decoration: none; border-style:none; position:relative; left:8px; top:-5px;
  }
  #bx {

  }

#motto {
	color: white;
	font-size: 17px;
	text-align: center;
	margin: 10px 0px 0px 0px;
	left:200px;
}


.ui-tabs .status1 {
    background: yellow;
}
.ui-tabs .status2 {
    background: orange;
}
.ui-tabs .status3 {
    background: red;
}



      


      
 #slider {
    height:550px;
     width:1127px; 
     padding-left: 50px;
     padding-top: 20px;
     padding-bottom: -30px;
     margin-left:0px ;
     margin-bottom:-20px; 
     background:transparent; 
 
  }
  #slider:hover {
    background:transparent;
  }
  #slider img:hover{
    border:none;
  }
  #slider img {
     position:relative; top:11px; left: 12px;     border:none; width:66%; height:auto; z-index: 1
  }


#container{
;
  margin:0 auto;
  padding-bottom:-230px;
}

#banner-fade,
#banner-slide{
	margin-left: -50px;
  margin-bottom: -78px;
}


ul.bjqs-controls.v-centered li a{
  display:block;
  padding:10px;
  
  color:white;
  text-decoration: none;
  
}

ul.bjqs-controls.v-centered li a:hover{
  
}

ol.bjqs-markers li a{
  padding:5px 10px;
  background:#020334;
  color:white;
  margin:5px;
  text-decoration: none;
  display: none
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
  
}
p.bjqs-caption{
  background: rgba(255,255,255,0.5);
}




ol.bjqs-markers li a{
  padding:5px 10px;
  background:transparent;
  color:transparent;
  margin:5px;
  text-decoration: none;
  display: none
}

p.bjqs-caption{
  background: rgba(255,255,255,0.5);
  padding-bottom: -50px;
}

ul.bjqs-controls.v-centered li.bjqs-next a{right:-30px; top:100px; background-image: url("https://teams.aexp.com/sites/inpatrio/shared%20docs/r.png
"); height:46px;width:30px; background-repeat: no-repeat;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:-38px; top:100px; background-image: url("https://teams.aexp.com/sites/inpatrio/shared%20docs/l.png
"); height:46px;width:30px; background-repeat: no-repeat; }

      